header {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);

  .logo-container {
    padding: 8px 24px;
    width: 72px;
    max-height: 100%;

    a {
      width: 100%;
      height: inherit;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  ul {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      padding: 8px 24px;
      cursor: pointer;
      color: #000;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
